.App {
  text-align: center;
}

.Pag-sep {
  margin-left: 1em;
}

.List {
  margin-top: 111px;
}

.Entry {
  padding: 1em;
}


.ActionBtns {
  margin: 1em;
}

.NumOfEntriesSelect {
  width: 10em;
}

.NumOfEntriesInputGroup {
  width: 25em !important;
}

.Status {
  color: lightgray;
}

.UpperBar {
  position: fixed;
  background: #2c3034;
  width: 100%;
  top: 0px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}
